<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between mb-5 wood above">

  <li class="nav-item navbar-brand navbar-nav">
    <button class="btn btn-dark" routerLink="game"
       routerLinkActive="active">Jouer</button>
  </li>

  <ul class="navbar-nav navbar-brand">
    <li class="nav-item">
      <button class="btn btn-dark" routerLink="scoreboard"
         routerLinkActive="active">Classement</button>
    </li>
    <li class="nav-item" *ngIf="!isAuth; else signOutBloc">
      <button class="btn btn-dark ml-2" routerLink=""
         routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">S'Inscrire</button>
    </li>
  </ul>

  <ng-template #signOutBloc>
    <button class="nav-item btn btn-dark ml-2" (click)="onSignOut()">
      Se déconnecter
    </button>
  </ng-template>
</nav>
