#loginFormContainer {
  background-image: url("src/assets/logInForm.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  height: 100vh;

  position: relative;
  top: -795px;
}

#loginForm {
  position: relative;
  top: 50vh;
  text-align: center;
}

#backGroundJungle {
  background-image: url("src/assets/jungle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 90vh;
}

@media (max-width: 600px) {
  .dNoneMobile {
    display: none;
  }

  .btn-responsive {
    padding: 5px 8px;
    font-size: 80%;
    line-height: 1.8;
  }

  .form-responsive {
    padding-top: 5px !important;
  }
}

@media (max-width: 1200px) {
  .input-responsive {
    width: 50% !important;
  }
}

.mt-10 {
  margin-top: 6vw;
}
